@import '_variables';

.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  margin: 0;
  max-width: max-content;
  mark {
    background: none;
    color: var(--c-text-accent);
  }

  .hero {
    display: flex;
    margin: 0 auto;
    padding: 10rem 0 16rem;
    transition: padding 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    width: 95%;
    max-width: var(--home-hero-width);
    text-align: left;

    .hero-item {
      &--right {
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        max-width: 800px;
        opacity: 1;
        position: absolute;
        right: 0;
        width: 45%;

        .hero-item--right-text {
          color: var(--c-brand);
          align-self: center;
          margin-top: 30px;
        }
      }
    }

    .hero-img {
      width: 100%;
      max-width: 800px;
      transition: transform 0.5s ease;

      &.jumping {
        transform: translateY(-30px);
      }
    }

    h1 {
      color: var(--c-text);
      font-size: 2.25rem;
      font-weight: 400;
      transition: font-size 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      margin: 0 0 1rem 0;
    }

    .description {
      color: var(--c-text-lightest);
      max-width: 30rem;
      font-size: 1.5rem;
      line-height: 1.3;
      color: var(--c-text-lightest);
      margin: 0;
    }

    .actions {
      display: flex;
      flex-direction: row;

      & > * {
        flex: 1 1 0;
      }
    }

    .action-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 1.25rem;
      padding: 15px 30px;
      border-width: 0;
      border-style: solid;
      border-radius: 3px;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
      transition: background-color var(--t-color);
      box-sizing: border-box;
      text-align: center;

      &.primary {
        color: var(--c-bg);
        background-color: var(--c-brand);
        border-color: var(--c-brand);
        &:hover {
          background-color: var(--c-brand-light);
        }
      }

      &.secondary {
        color: var(--c-brand);
        background-color: var(--c-bg);
        border-color: var(--c-brand);
        &:hover {
          color: var(--c-bg);
          background-color: var(--c-brand-light);
        }
      }
    }
    .github-button {
      background-color: #262630;
      color: #fff;

      & > .github_svg {
        margin-bottom: -2px;
        margin-right: 10px;
        font-size: 18px;
      }
      & .external-link-icon {
        display: none;
      }
    }
  }

  .features {
    border-top: 1px solid var(--c-border);
    transition: border-color var(--t-color);
    padding: 1.2rem 0;
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-between;
  }

  .feature {
    flex-grow: 1;
    flex-basis: 30%;
    max-width: 30%;

    h2 {
      font-size: 1.4rem;
      font-weight: 500;
      border-bottom: none;
      padding-bottom: 0;
      color: var(--c-text-light);
    }

    p {
      color: var(--c-text-lighter);
    }
  }

  .theme-default-content {
    padding: 0;
    margin: 0;
  }

  .footer {
    padding: 2.5rem;
    border-top: 1px solid var(--c-border);
    text-align: center;
    color: var(--c-text-lighter);
    transition: border-color var(--t-color);
  }
  // override typewriter
  .typewriter-container {
    --c-cursor: var(--c-text-accent);
    .typewriter-text {
      font-size: 64px;
    }
    .cursor {
      height: 4rem;
      margin-top: 10px;
      width: 0.6rem;
    }
    .typed-text {
      color: var(--c-text);
    }
  }
}

@media (max-width: $MQMobile) {
  .home {
    .features {
      flex-direction: column;
    }

    .feature {
      max-width: 100%;
      padding: 0 2.5rem;
    }
  }
}

@media (max-width: $MQMobileNarrow) {
  .home {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .hero {
      img {
        max-height: 210px;
        margin: 2rem auto 1.2rem;
      }

      h1 {
        font-size: 2rem;
      }

      h1,
      .description,
      .actions {
        margin: 1.2rem auto;
      }

      .description {
        font-size: 1.2rem;
      }

      .action-button {
        font-size: 1rem;
        padding: 0.6rem 1.2rem;
      }
    }

    .feature {
      h2 {
        font-size: 1.25rem;
      }
    }
  }
}
